@model RealStateFollowUp.Models.ClientViewModels.ClientAndAgentViewModel
@using RealStateFollowUp.Extensions
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2>עדכון לקוח</h2>
<hr />

<form asp-action="Edit">
    <div class="form-border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Client.ID" />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.LastName" class="control-label"></label>
            </div>
            <div class="col-4">
                <input asp-for="Client.LastName" class="form-control" />
            </div>
            <span asp-validation-for="Client.LastName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.FirstName" class="control-label"></label>
            </div>
            <div class="col-4">
                <input asp-for="Client.FirstName" class="form-control" />
            </div>
            <span asp-validation-for="Client.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.PhoneNumber" class="control-label"></label>
            </div>
            <div class="col-4">
                <input asp-for="Client.PhoneNumber" class="form-control" />
            </div>
            <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.IdentityCard" class="control-label"></label>
            </div>
            <div class="col-4">
                <input asp-for="Client.IdentityCard" class="form-control" />
            </div>
            <span asp-validation-for="Client.IdentityCard" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.Email" class="control-label"></label>
            </div>
            <div class="col-4">
                <input asp-for="Client.Email" class="form-control" />
            </div>
            <span asp-validation-for="Client.Email" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.City" class="control-label"></label>
            </div>
            <div class="col-4">
                <input asp-for="Client.City" class="form-control" />
            </div>
            <span asp-validation-for="Client.City" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.Street" class="control-label"></label>
            </div>
            <div class="col-4">
                <input asp-for="Client.Street" class="form-control" />
            </div>
            <span asp-validation-for="Client.Street" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.StreetNum" class="control-label"></label>
            </div>
            <div class="col-4">
                <input asp-for="Client.StreetNum" class="form-control" />
            </div>
            <span asp-validation-for="Client.StreetNum" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.Appartment" class="control-label"></label>
            </div>
            <div class="col-4">
                <input asp-for="Client.Appartment" class="form-control" />
            </div>
            <span asp-validation-for="Client.Appartment" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.Notes" class="control-label"></label>
            </div>
            <div class="col-4">
                <input asp-for="Client.Notes" class="form-control" />
            </div>
            <span asp-validation-for="Client.Notes" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.AgentID" class="control-label"></label>
            </div>
            <div class="col-4">
                <select asp-for="Client.AgentID" asp-items="Model.AgentList.ToSelectListItem(Model.Client.AgentID)" class="form-control" ></select>
            </div>
            <span asp-validation-for="Client.Notes" class="text-danger"></span>
        </div>

        <br />
        <div class="form-group">
            <input type="submit" value="שמור" class="btn btn-primary" /> &nbsp;
            <a asp-action="Index" class="btn btn-success">חזור</a>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

